@page
@model RazorPagesFeatures.Areas.Customers.Pages.IndexModel
@{
}

<h1>/Index : Areas > Customers</h1>

<ol>
	<li>
		<a asp-page="/Index" asp-area="Orders">To Orders Area</a>
	</li>
	<li>
		<a asp-page="/Index" asp-area="Products">To Products Area</a>
	</li>
</ol>